/* Conteúdo do arquivo styles.css */

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
}

header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

ol {
    padding-left: 20px;
}